<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <title>Formulário</title>
    </head>

    <body style="height: 100vh" class="bg-secondary bg-gradient">
        <a href="/" style="width: 8%; min-width: 90px; position: absolute" class="btn btn-info m-3 fw-semibold">Voltar</a>
        <div style="height: 100%" class="container d-flex flex-column justify-content-center align-items-center">
            <h2 class="mb-4 fs-1 text-light fw-bold">Adicione o LINK</h2>

            <form action="/" method="post" class="d-flex flex-column w-50">
                <input type="text" class="mb-2 form-control" name="title" placeholder="Título" value="<%=body.title%>" />
                <textarea type="text" class="mb-2 form-control" rows="3" name="description" placeholder="Descrição"><%=body.description%></textarea>
                <input type="text" class="mb-2 form-control" name="url" placeholder="URL" value="<%=body.url%>" />
                <button style="width: 30%" class="btn btn-primary align-self-center fw-semibold">Enviar</button>
            </form>
        </div>

        <%if(errorAuthentication==true ){%>
        <h3><%='Preencha com um link diferente que já não esteja no banco de dados.'%></h3>
        <%}%>
    </body>
</html>
